:root {
    /* Text */
    --text-color: #fefae0;        /* deep slate */
    --muted-text: #475569;

    /* Backgrounds */
    --upload-bg-color: #606c38;   /* soft mint */
    --text-bg-color: #fefae0;    /* clean reading */
    --sidebar-bg-color: #606c38;  /* deep teal-green */

    /* Buttons */
    --button-primary: #bc6c25;
    --button-primary-hover: #dda15e;

    --button-secondary: #b08968;
    --button-secondary-hover: #ddb892;

    /* Controls */
    --control-btn-bg: #0f766e;
    --control-btn-hover: #115e59;

    /* Sign In Button */
    --sign-in-btn-color: #bc6c25;

    /* Inputs */
    --select-bg: #fefae0;
    --select-text: #fefae0;
}

html,
body{
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container-1 {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 16%;
    width: calc(100% - 20vw);
    min-width: 400px;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--upload-bg-color);
    color: var(--text-color)
}
.upload-title {
    display: flex;
    gap: 50px;
    align-items: center;
}
.upload-actions {
    margin-top: 5px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.upload-btn {
    display: block;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: var(--text-color);
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}
.upload-btn {
    background-color: var(--button-primary);
}
.upload-btn:hover {
    background-color: var(--button-primary-hover);
}
.container-2 {
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 20%;
    min-width: 250px;
    padding: 20px;
    gap: 5px;
    background-color: var(--sidebar-bg-color);
}
.user-info {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.select-label {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--text-color);
}
.sign-in-btn {
    width: 60%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--sign-in-btn-color);
    color: var(--text-color);
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 30px;
}
.sign-in-btn:hover {
    background-color: #264653;
}
.sign-out-btn {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--sign-in-btn-color);
    color: white;
    cursor: pointer;
    margin-bottom: 25px
}
.sign-out-btn:hover {
    background-color: #264653;
}
.select-label {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--text-color);
}
.language-select, .voice-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--select-color);
    color: white;
}
.control-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.btn:hover {
  background-color: #e76f51;
}
.control-btn {
    flex: 1 1 auto;
    max-width: 120px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    padding: 16px 18px;
    border: none;
    margin: 5px;
}
.icon {
    font-size: 26px;
    cursor: pointer;
}
.speak-button{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--button-primary);
    color: white;
    cursor: pointer;
    margin-bottom: 25px
}
.speak-button:hover {
    background-color: var(--button-primary-hover);
}
.container-3 {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 84%;
    width: calc(100% - 20vw);
    min-width: 400px;
    padding: 20px 50px 10px 20px;
    box-sizing: border-box;
    background-color: var(--text-bg-color);
    color: var(--muted-text);
}
.text-output{
    margin-top: 0px;
    padding: 10px;
    font-size: 18px;
    line-height: 1.6;
}