<div class="container-1">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="upload-title">
        <h2>Upload PDF</h2>
        {% if pdf_file_name %}
            <h3 class="pdf_file_title">File name: {{ pdf_file_name }}</h3>
        {% endif %}
    </div>
    <div class="upload-pdf">
        <form action="{{ url_for('upload') }}"
            method="POST"
            enctype="multipart/form-data">
            {% if session.user %}
                <div class="upload-actions">
                    <label for="pdf_file" class="upload-btn">Upload PDF</label>
                    <input
                        id="pdf_file"
                        type="file"
                        name="pdf_file"
                        accept="application/pdf"
                        hidden
                        onchange="this.form.submit()"
                    >
                </div>
            {% else %}
                <h4 class="upload-info">Sign in to Puter to upload a PDF file.</h4>
            {% endif %}
        </form>
    </div>
</div>